---
course_title: Temporary Course
course_folder: temp_course
course_description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet pretium pulvinar. Mauris enim quam, dapibus vel augue in, pretium eleifend risus. Integer lorem metus, ultricies a blandit faucibus, cursus quis ipsum. Vivamus risus dui, laoreet a nisi a, volutpat facilisis augue. Sed non rutrum orci, eget rutrum justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin a urna mollis, ornare nisl ac, auctor velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis finibus aliquam turpis in euismod. In hac habitasse platea dictumst.
course_image: /assets/img/course_image.jpg
course_information:
  - Time: 10:00 am
  - Location: 100 Big Building
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/jpg" href={{ site.favicon }}>
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>
{% include header.html %}
{% include course_content.html %}

<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
